:local(.layout)
  width: 100%
  position: absolute
  top: 50px
  bottom: 0
  overflow-y: auto
  padding: 20px
  display: flex
  justify-content: center
  align-items: center

:local(.login-frame)
  width: 400px