:local(.dropdownBtn)
  width: 100%
  text-align: left
  padding: 5px 17px
  cursor: pointer
  display: block
  color: rgba(0, 0, 0, 0.65)
  transition: none

:local(.dropdownBtn):hover
  background: #80BB25
  transition-duration: none
  color: white