:local(.editor-textarea)
  border-radius: 0!important

:local(.editor-textarea:focus)
  outline: solid 2px #7fbd04

:local(.editor-wrapper)
  display: flex

:local(.editor-text)
  flex: 1
:local(.editor-preview)
  flex: 1